.products-container {
    width: 900px;
    display: flex;

    .products-table-container {
        width: auto;
        display: flex;
        flex-direction: column;

        .products-hdr-container {
            width: auto;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .products-body-container {
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}